
.page-wrapper{
    width: 400px;
    margin: 0 auto;
}
.pagination-item{
    display: none;
}
.slider-items{
    display: grid;
    grid-template-columns: 300px 100px;
}
.slider-item{
    grid-column: 1/3;
}
.item1, .item2, .item3, .item4{
    display: none;
    width: 350px;
    margin: 0 auto;
}
.pagination-item1:checked ~ .item1 {
    display: block;
}
.pagination-item2:checked ~ .item2 {
    display: block;
}
.pagination-item3:checked ~ .item3 {
    display: block;
}
.pagination-item4:checked ~ .item4 {
    display: block;
}
.pagination{
    width: 100px;
}
.label {
    background-color: black;
    cursor: pointer;
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}
.label-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin-top: 3.5px;
    margin-left: 3.5px;
}
.label:hover{
    background-color: brown;
}
.label-point:hover {
    background-color: brown;
}
#item1:checked ~ .pagination > .label1 {
    background-color: brown;
}
#item1:checked ~ .pagination > .label1 > .label-point {
    background-color: brown;
}
#item2:checked ~ .pagination > .label2 {
    background-color: brown;
}
#item2:checked ~ .pagination > .label2 > .label-point {
    background-color: brown;
}
#item3:checked ~ .pagination > .label3 {
    background-color: brown;
}
#item3:checked ~ .pagination > .label3 > .label-point {
    background-color: brown;
}
#item4:checked ~ .pagination > .label4 {
    background-color: brown;
}
#item4:checked ~ .pagination > .label4 > .label-point {
    background-color: brown;
}